stages:
  - test
  - deploy

.test_template: &test_definition
  stage: test
  script:
    - pip install --upgrade pip
    - pip install pytest numpy opt_einsum
    - pip install .
    - pytest -v

test:3.10:
  image: python:3.10
  <<: *test_definition

test:3.11:
  image: python:3.11
  <<: *test_definition

test:3.12:
  image: python:3.12
  <<: *test_definition

test:3.13:
  image: python:3.13
  <<: *test_definition

deploy_pypi:
  stage: deploy
  image: python:3.12
  script:
    - pip install build twine
    - python -m build
    - twine upload --verbose --non-interactive --username __token__ --password "$PYPI_API_TOKEN" dist/*
  only:
    - tags
